@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('icons/style.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-green: #249218;
    --color-orange: #ffa500;
    --color-blue: #7f87cb;
    --color-grey: #777777;
    --color-light-grey: #e6e6e6;
    --color-shadow: #ffffffbf;
    --color-black: #000000;
    --color-light-black: #292929;
    --color-red: #830505;
}  

body {
    background-image: url('/images/Cinema.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    font-family: 'Questrial', sans-serif;
    align-items: center;
}

.ic_couch {
    font-family: 'iconfont';
    font-size: 18px;
    font-weight: 500;
    color: var(--color-green);
    margin-right: 10px;
    margin-bottom: 10px;
}

.ic_couch.selected {
    color: var(--color-orange);
}

.ic_couch.occupied {
    color: var(--color-blue);
}
.ic_couch:nth-of-type(4) {
    margin-right: 20px;
}
.ic_couch:nth-last-of-type(4) {
    margin-left: 20px;
}

.ic_couch:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.legend .ic_couch:not(.occupied):hover {
    cursor: default;
    transform: scale (1);
}

.row {
    display: flex;
}

.movie-container {
    margin: 20px 0;
}

.legend {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-grey);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.legend li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

.legend li small {
    margin-left: 10px;
}

.screen {
    background-color: var(--color-light-grey);
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-50deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.container {
    perspective: 1000px;
    margin-bottom: 15px;
}

p.text {
    margin: 5 px 0;
    font-size: 18px;
}

p.text span {
    color: var(--color-orange)
}

.movies-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
  
.movie {
    width: 200px;
    height: 290px;
    margin-right: 20px;
    text-align: center;
    background-color:var(--color-white);
    box-shadow: 0px 3px 6px var(--color-black);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
  
.movie:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(221, 72, 38, 0.5), 0 0 20px #ca8e78;
}
  
.movie:last-child {
    margin-right: 0;
}
  
.movie img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
  
.movie h3 {
    margin-top: 10px;
    font-size: 18px;
    color: var(--color-light-black)
}
  
h2 {
    margin-top: 15px;
    margin-bottom: 25px;
    color: var(--color-red);
    font-weight: 800;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}
  
button {
    margin: 15px;
    padding: 10px 10px;
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 170px; 
    height: 40px;
}

button#clear-selection {
    background-color: var(--color-red);
}

button#checkout {
    background-color: var(--color-orange);
}

button:hover {
    transform: scale(1.05);
}