@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('icons/style.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Questrial', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.ic_couch {
    font-family: 'iconfont';
    font-size: 16px;
    color: white;
    margin-right: 10px;
}

/*.seat {
    background-color: cornflowerblue;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}*/

.row {
    display: flex;
}

.movie-container {
    margin: 20px 0;
}

.seat.selected {
    background-color: #da7202;
}

.seat.occupied {
    background-color: #d1cccb;
}
.seat:nth-of-type(3) {
    margin-right: 20px;
}
.seat:nth-last-of-type(3) {
    margin-left: 20px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.legend .seat:not(.occupied):hover {
    cursor: default;
    transform: scale (1);
}

.legend {
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.legend li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.legend li small {
    margin-left: 10px;
}

.screen {
    background-color: #fff;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-50deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

p.text {
    margin: 5 px 0;
}

p.text span {
    color:#ffa500
}

.movies-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .movie {
    width: 200px;
    height: 330px;
    margin-right: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .movie:hover {
    transform: scale(1.05);
  }
  
  .movie:last-child {
    margin-right: 0;
  }
  
  .movie img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .movie h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  
  h2 {
    margin-bottom: 25px;
  }


  .ic_couch {
    font-family: 'iconfont';
    font-size: 16px;
    color: white;
    margin-right: 10px;
  }